<form action="/login" method="POST" id="form">
  <h2>Login</h2>

  <label for="username">Username</label>
  <input type="text" name="username" {{#if username}}value="{{username}}"{{/if}}>

  <label for="password">Password</label>
  <input type="password" name="password">

  {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}}

  <button>Sign in</button>
  <p class="account-message">
    Don't have an account? <a href="/signup">Sign up</a>
  </p>
  
  <div class="alternate-login">
    <p>OR</p>
    <p><a href="/auth/slack" id="slackButton">Continue with Slack</a></p>
    <p><a href="/auth/google" id="googleButton">Continue with Google</a></p>
  </div>
</form>